# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp
*.log
npm-debug.log*
.env
.env.*
*.tmp
*.temp

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
generate-resume-pdf.js
package-lock.json
package.json
resume-template.html
